.carrito {
  padding: 40px;
  text-align: center;
}

.carrito h2 {
  margin-bottom: 25px;
  font-size: 32px;
  color: #4db8ff;
}

.carrito-vacio {
  margin: 30px auto;
  color: #a9b7c7;
}

.carrito-lista {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 30px auto 0;
  max-width: 850px;
}

.item {
  background: rgba(5, 15, 27, 0.88);
  border: 1px solid rgba(0, 140, 255, 0.25);
  border-radius: 12px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item img {
  width: 80px;
  border-radius: 8px;
}

.item .info {
  flex: 1;
  margin-left: 15px;
  text-align: left;
}

.resumen-carrito {
  max-width: 850px;
  margin: 20px auto;
  text-align: right;
  color: #4db8ff;
  font-size: 20px;
}

.carrito-acciones {
  margin-top: 30px;
  text-align: center;
}

.carrito-acciones .btn-secundario,
.carrito-acciones .btn-comprar {
  margin: 5px;
}

@media(max-width:700px) {

  .item {
    flex-direction: column;
  }

  .item .info {
    margin: 12px 0;
    text-align: center;
  }

}
