<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Detalle del Producto - Xucle-Bits</title>
  <link rel="stylesheet" href="../style.css">
</head>
<body>

  <header class="header">

    <div class="logo">
      <img src="../icons/Icono.png"
           alt="Logo Xucle-Bits"
           class="logo-img">

      <h1>Xucle-Bits</h1>
    </div>

    <nav>
      <ul>
        <li><a href="../index.html">Inicio</a></li>
        <li><a href="../index.html#productos">Productos</a></li>
        <li><a href="carrito.html">Carrito</a></li>
        <li><a href="login.html">Administrador</a></li>
      </ul>
    </nav>

  </header>


  <main class="pagina">

    <h2>Detalle del Producto</h2>

    <div class="detalle-producto">

      <img src="https://m.media-amazon.com/images/I/71EjPGMpNgL._AC_SX679_.jpg"
           alt="Laptop Gamer">

      <div class="detalle-info">

        <h2>Laptop Gamer</h2>

        <p>
          <b>Precio:</b> $1200
        </p>

        <p>
          <b>Descripción:</b>
          Computadora portátil para estudio, trabajo y entretenimiento.
        </p>

        <p>
          <b>Características:</b>
        </p>

        <ul>
          <li>Memoria RAM: 16 GB</li>
          <li>Almacenamiento: 512 GB SSD</li>
          <li>Pantalla: 15.6 pulgadas</li>
          <li>Color: Negro</li>
          <li>Peso aproximado: 2.3 kg</li>
        </ul>

        <a href="carrito.html"
           class="btn-principal">
          Agregar al Carrito
        </a>

      </div>

    </div>

  </main>


  <footer class="footer">

    <p>&copy; 2026 Xucle-Bits</p>

    <a href="terminos.html">
      Términos y Condiciones
    </a>

    |

    <a href="privacidad.html">
      Políticas de Privacidad
    </a>

  </footer>

</body>
</html>
